.row-header {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 47vh; }

.footer {
  background-color: #d1c4e9;
  margin: 0 auto;
  padding: 1.25em 0; }

.jumbotron {
  margin: 0 auto;
  padding: 4em 2em;
  background-color: #9575cd;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f; }

body {
  padding: 3em 0 0;
  z-index: 0; }

.navbar-dark {
  background-color: #512da8; }

.tab-content {
  padding: 10px; }

.carousel {
  background-color: #512da8; }
  .carousel .carousel-item {
    height: 45vh; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 45vh; }

#carouselButton {
  right: 0;
  position: absolute;
  bottom: 0; }
